<p (click)="onSendMessageToBaba()">fils works! :  {{messageDePapa}}</p>

<ol>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
  <li>1</li>
</ol>

<div style="background-color: red; margin: 10px;">
  test
  <div style="background-color: yellow; margin: 10px;">
    test2
    <div style="background-color: blue; margin: 10px;">test3</div>
  </div>
</div>
