<div class="row">
  <div class="col">
    <a [routerLink]="['']" routerLinkActive="active text-danger" [routerLinkActiveOptions]="{exact: true}">Home</a>
  </div>
  <div class="col">
    <a [routerLink]="['second']" routerLinkActive="active text-danger">Second</a>
  </div>
  <div class="col">
    <a [routerLink]="['two']" routerLinkActive="active text-danger">Two</a>
  </div>
  <div class="col">
    <a [routerLink]="['game']" routerLinkActive="active text-danger">Game</a>
  </div>
  <div class="col">
      <a [routerLink]="['form']" routerLinkActive="active text-danger">Test Form</a>
  </div>
</div>

/cv/edit/5
/cv/edit/5
/cv/edit
/cv
/
