.lampe {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
  padding:60px;
}

.on {
  background-color: yellow;
}

.off {
  background-color: black;
  color: white;
}


